* {
    padding: 0;
    margin: 0;
}
@import 'https://fonts.googleapis.com/css?family=Courgette|Yatra+One';
body {
    background-color: black;
    width: 95%;
}
header {
    margin-bottom: 0;
    padding-bottom: 0;
}
.header-container {
    position: relative;
    left: 3%;
    border: 1px solid black;
    width: 99%;
    height: 630px;
    background-image: url('../images/mainImg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.header-container .buttons img {
    position: fixed;
    width: 25%;
    padding-top: 15px;
}
.header-container .follow-icons {
    background-color: gray;
    width: 400px;
    height: 70px;
    position: absolute;
    top: 30%;
    bottom: 0;
    /* follow img*/
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid black;
}
.header-container .follow-icons img {
    width: 15%;
    float: left;
    padding-left: 17px;
    padding-top: 5px;

}
.header-container h1 {
    color: white;
    font-size: 60px;
    font-family: 'Courgette', sans-serif;
    font-style: oblique;
}
.buttons {
    width: 90%;
    height: 250px;
    position: relative;
    left: 5%;
    display: inline-block;
}
.header-container .follow {
    width: 99%;
    height: 120px;
    display: inline-block;
    position: relative;
}
.header-container .follow img {
    position: absolute;
    top: 0;
    bottom: 0;
    /* follow img*/
    left: 15px;
    right: 0;
    margin: auto;
}
.header-list-items {
    margin-top: 4%;
    float: right;
    list-style: none;
}
li {
    float: left;
    padding: 10px;
    font-size: 20px;
}
.header-list-items a {
    padding-left: 3px;

    text-decoration: none;
    color: white;
    font-family: 'Courgette', sans-serif;
    size: 40%;
}
.footer {
    margin: 0;
    padding: 0;
    width: 99%;
    height: 20%;
}
.footer p {
    color: white;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 0.8%;
    float: left;
}
.footer-icons {
    width: 30%;
    float: right;
    margin-right: 5%;
}
.footer img {
    width: 7%;
    padding: 1%;
    float: right;
}
.footer #logo {
    width: 9%;
    padding-left: 80px;
    float: left;
}
.footer-links {
    float: left;
    width: 50%;
    position: relative;
    left: 5%;
}
.footer-links a {
    color: gray;
    text-decoration: none;
    float: left;
    padding-left: 1%;
}
.active{
  /*border: 3px solid red;*/
  opacity: 1;
  cursor: pointer;
}
.inactive{
  opacity: 0.4;
}
.list-btn{
  border-left: 1px solid white;
}
.active-button{
  border-bottom: 1px solid white;
  border-left: 0px solid white;
}
